* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
    color: #ffffff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

form {
    background-color: #1e1e1e;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 400px;
}

label {
    font-family: "Edu SA Hand", cursive;
    font-size: 20px;
    margin-bottom: 5px;
    color: #f0f0f0;
}

input[type="text"],
select,
input[type="color"] {
    padding: 10px 12px;
    font-size: 16px;
    border: 1px solid #555;
    border-radius: 6px;
    background-color: #2a2a2a;
    color: #fff;
    transition: all 0.3s ease;
}

input[type="text"]:focus,
select:focus,
input[type="color"]:focus {
    border-color: #00bcd4;
    outline: none;
    background-color: #333;
}

input[type="submit"] {
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #630170;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #9400a7;
}
.conteudo{
     display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}
.cont{
    
    background-color: #1e1e1e;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 400px;
}
